@page "/OriginPrivate"

<PageTitle>Todo - OriginPrivate</PageTitle>

<p>Persist data to origin private file system with actual physical path provided by your browser.</p>

<ul>
    @foreach (var todo in todos)
    {
      <li>
        <input type="checkbox" @bind="todo.IsDone" @bind:after="_ => this.TodoChangedAsync(todo)" />
        <input @bind="todo.Title" @bind:after="_ => this.TodoChangedAsync(todo)" />
      </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodoAsync">Add todo</button>

@code {
    private string? newTodo;
    private List<TodoItem> todos = new();
    private OriginPrivateDbContext context = default!;

    [Inject] public FileSystemAccessService FileSystemAccessService { get; set; } = default!;
    [Inject] public IBlazorDbContextFactory<OriginPrivateDbContext> BlazorDbContextFactory { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var directory = await this.FileSystemAccessService.GetOriginPrivateDirectoryAsync();

        await this.BlazorDbContextFactory.InitializeAsync(directory);

        context = await this.BlazorDbContextFactory.CreateDbContextAsync();

        todos = context.TodoItem.ToList();

        await base.OnInitializedAsync();
    }

    private async Task AddTodoAsync()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            context.TodoItem.Add(new TodoItem { Title = newTodo });

            newTodo = string.Empty;

            await context.SaveChangesAsync();

            todos = context.TodoItem.ToList();
        }
    }

    private async Task TodoChangedAsync(TodoItem todo)
    {
        context.TodoItem.Entry(todo).State = EntityState.Modified;

        await context.SaveChangesAsync();
    }
}
